<!DOCTYPE html>
<html lang="es">
    <!-- Registro para probar, ncesita nombre, ap1, ap2, mail, contraseña -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse en OverSounds</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles/login.css') }}">
</head>
<body>
    {% include 'common/header.html' %}
    <div class="main-content">
        <div class="container">
            <h2>Registrarse en OverSounds</h2>
            <form action="/login" method="post">
                <label for="username">Nickname o e-mail:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit" id="login-btn" data-login-url="{{ data.fnd_server }}/login">Iniciar Sesión</button>
            </form>
            
            <div class="forgot-password">
                <a href="/forgot-password">¿Olvidaste tu contraseña?</a>
            </div>
            
            <div class="register-link">
                ¿No tienes cuenta? <a href="/register">Regístrate aquí</a>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', path='js/Login.js') }}"></script>
</body>
</html>