<!DOCTYPE html>
<html lang="es">
    <!-- Registro para probar, ncesita nombre, ap1, ap2, mail, contraseña -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse en OverSounds</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles/register.css') }}">
</head>
<body>
    {% include 'common/header.html' %}
    <div class="main-content">
        <div class="container">
            <h2>Registrarse en OverSounds</h2>
            <form action="/register" method="post">
                <label for="username">Nickname:</label>
                <input type="text" id="username" name="username" required>

                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" required>

                <label for="firstLastName">Primer Apellido:</label>
                <input type="text" id="firstLastName" name="firstLastName" required>

                <label for="secondLastName">Segundo Apellido:</label>
                <input type="text" id="secondLastName" name="secondLastName" required>
                <label for="email">Correo Electrónico:</label>
                <input type="email" id="email" name="email" required>

                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit" id="reg-btn" data-register-url="{{ data.fnd_server }}/register">Registrar</button>
            </form>
            
            <div class="login-link">
                ¿Ya tienes cuenta? <a href="/login">Inicia sesión</a>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', path='js/Register.js') }}"></script>
</body>
</html>